<h1>Reactive Speaker</h1>

<div class="container">
  <div class="row">
    <div class="col-3">
        <img class="img-responsive center-block" src="{{ imageURL + speaker.photo }}">
    </div>
  
    <div class="col-9">
        <span class="speakerName">{{ speaker.firstName }} {{ speaker.lastName }}</span>
        <div style="float:right;">
            <a class="btn btn-warning" [routerLink]="['/reactive-speakers/' + speaker.id + '/edit']">Edit</a>
            <!-- <button class="btn btn-warning" (click)="edit(speaker.id)">Edit</button>
             -->
            <button class="btn btn-danger" (click)="delete(speaker.id)">Delete</button>
        </div> <br/>
        <span class="speakerTitleAndCompany">{{ speaker.title }} | {{ speaker.company }}</span> 
        <br/><br />
        <p>{{ speaker.biography }}</p>

        <div *ngIf="speaker.sessions?.length > 0">
            <h4>Session<span *ngIf="speaker.sessions?.length > 1">s</span></h4>
            <div *ngFor="let session of speaker.sessions">
                <p>
                    <strong>Title:</strong> {{ session.title }}<br />
                    <strong>Description:</strong> {{ session.description }}
                </p>
            </div>

        </div>
    </div>
  </div>
</div>